# Application for Univariate Time Series: Algorithmic Trading Model for $/â‚º Exchange Rates

- <b>Univariate Time Series: ARIMA<b>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import yahoofinancials as yf
import requests
import ftplib
import io

<b>Let's download the Dataset from Yahoo Finance<b>

In [2]:
history = yf.YahooFinancials('USDTRY=X').get_historical_price_data('2017-01-01', '2020-01-01', 'daily')

df = pd.DataFrame(history['USDTRY=X']['prices'])

df = df.drop(['date'], axis=1).set_index('formatted_date')
df.head()

                   high      low     open    close  volume  adjclose
formatted_date
2017-01-02      3.54485  3.52440  3.53490  3.53490     0.0   3.53490
2017-01-03      3.60310  3.53529  3.54280  3.54190     0.0   3.54190
2017-01-04      3.59310  3.56700  3.59115  3.59230     0.0   3.59230
2017-01-05      3.63486  3.55536  3.56930  3.56937     0.0   3.56937
2017-01-06      3.63600  3.59137  3.59270  3.59191     0.0   3.59191